/* GLOBAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    /* rem = font-size set up thủ công ban đầu, lấy làm mốc cho các thuộc tính sau này, tăng khả năng thay đổi kích thích nhanh chóng */
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: #212529;
    background-color: #fff;
    letter-spacing: 1px;
}
button{
    background-color: #ff0e83;
    border: 1px solid white;
    border-radius: 5px;
    color: #fff;
    padding: 13px 32px;
    font-size: 0.875rem;
    letter-spacing: 1px;
    transition: all 0.5s;
}
button:hover{
    background-color: #fff;
    color: #212529;
    border-color: #ff0e83;
}
h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
    letter-spacing: 2px;
    text-align: center;
   
}
/* HEADER */
header{
    background-color: #4e2a84;
    padding: 20px 0;
    position: fixed;
    z-index: 3;
    width: 100%;
}
.header_content{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header_content p{
    color: aliceblue;
    font-size: 2.3rem;
}
.header_content ul{
    list-style: none;
}

.header_content ul a{
    text-decoration: none;
    color: aliceblue;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 2px;
    transition: all 0.5s;
}
.header_content ul a:hover{
    color: #ff0e83;
}
.header_content ul li{
    display: inline;
    margin: 0 1rem;
}
.header_content ul .active a{
    color: #ff0e83;
}
/* CAROUSEL */
.carousel{
    background-image: url('../img/carousel2.jpg');
    height: 800px;
    background-size: cover;
    background-position: center;
    color: #8DEEEE;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel_content h1{
    font-size: 3.5rem;
}
.carousel_content p{
    font-size: 1.1rem;
    color: white;
    padding: 23px 0;
}
/* INTRO */
.intro{
    display: grid;
    /* grid-template-columns: 25% 25% 25% 25%; */
    grid-template-columns:repeat(4,25%);
    /* grid-template-columns: repeat(4,1fr); */
}
.cake_intro1{
    /* grid-column: 2 / 4; */
    grid-column: 2 / span 2;
}
.intro_content2{
    grid-column: 1 / span 2;
}
.cake_intro4{
    grid-column: 3 / span 2;
}
.intro_items img{
    width: 100%;
    display: block;
    height: 350px;
}
.intro_items{
    display: flex;
    align-items: center;
    text-align: center;
    height: 350px;

}
.intro_items .intro_content2 div{
    padding: 0 25px;
}
.intro_items h3{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.intro_items p{
    color: whitesmoke;
    font-size: 0.875rem;
}
.intro .intro_items:first-child{
    background-color: #4e2a84;
}
.intro .intro_items:nth-child(3){
    background-color: #4e2a84;
}
.intro .intro_items:nth-child(4){
    background-color: #ff0e83;
}
.intro .intro_items:nth-child(6){
    background-color: #ff0e83;
}
.intro .intro_items:nth-child(8){
    background-color: #4e2a84;
}

/* NUMBER */
.number{
    padding: 70px 0;
}
.number_content{
    display: flex;
    width: 70%;
    margin: 0 auto;
    /* justify-content: center; */
    justify-content: space-around;
    text-align: center;
}
.number_items p:first-of-type{
    font-size: 2rem;
    font-weight: 600;
    color: #4e2a84;
}
.number_items p:last-of-type{
    font-size: 1.4rem;
    font-weight: 700;
    color: black;
    padding: 24px 0;
    letter-spacing: 4px;
}

/* SERVICES */

.services{
    background-image: url(../img/s1.jpg);
    background-size: cover;
    text-align: center;
    padding: 70px 0;
}
.services_contents{
    width: 70%;
    margin: 0 auto;
    display: flex;
}
.services_items{
    padding: 0 20px;
}
.services_items i{
    height: 105px;
    width: 105px;
    line-height: 105px;
    border: 1px solid #4e2a84;
    border-radius: 50%;
    font-size: 3.75rem;
    background-color: #fff;
    color: #4e2a84;
    transition: all 0.5s;
}
.services_items h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 17px 0;
} 
.services_items p{
    font-size: 0.875rem;
    line-height: 25px;
    padding-bottom: 12px;
}
.services_items button{
    padding: 12px 27px;
    border-width: 2px;
}
.services_items:hover i{
    color: #ff0e83;
}

/* GALLERY */
.gallery{
    padding: 70px 0;
}
.gallery__content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    padding: 0 15px;
}
.gallery__g1{
    /* grid-column: 1 / 3; */
    grid-column: 1 / span 2;
}
.gallery__g6{
    grid-column: 3 / span 2;
}
.gallery__item img{
    height: 450px;
    width: 100%;
    display: block;
}
.gallery__item{
    position: relative;
}
.gallery__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 132, 163, 0.2);
    color: white;
    padding: 38px 28px;
    text-align: right;
}
.gallery__overlay p{
    position: absolute;
    bottom: 38px;
    right: 28px;
    font-size: 0.75rem;
    transform: translateY(50px);
    opacity: 0;
    transition: all 0.5s;
}
.gallery__item:hover .gallery__overlay p{
    transform: translateY(0);
    opacity: 1;
}
.gallery__overlay h3{
    font-size: 1.875rem;
    transform: translateY(20px);
    transition: all 0.5s;
}
.gallery__item:hover .gallery__overlay h3{
    transform: translateY(0);
}
.gallery__overlay h3 span{
    font-weight: 300;
}
.gallery__overlay h3::after{
    content: "";
    width: 100%;
    height: 5px;
    display: block;
    background: white;
    margin-top: 10px;
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.5s;
}
.gallery__item:hover .gallery__overlay h3::after{
    transform: translateY(0);
    opacity: 1;
}

/* TEAM */
.team{
    background: #4e2a84;
    padding: 70px 0;
}
.team h2{
    color: white;
}
.profile__baker{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 75%;
    margin: 0 auto;
    gap: 25px 30px;
}
.team__items img{
    height: 400px;
    width: 100%;
    display: block;
}
.team__items{
    position: relative;
}
.team__title h3{
    font-size: 1.3rem;
}
.team__title p{
    font-size: 0.875rem;
    line-height: 28px;
}
.team__title{
    position: absolute;
    bottom: 0;
    left: 0;
    background: #ff0e83;
    color: white;
    width: 100%;
    padding: 30px;
    opacity: 1;
    transition: all 0.5s;
}
.team__details{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 100px 40px;
    opacity: 0;
    transition: all 0.5s;
}
.team__items:hover .team__title{
    opacity: 0;
}
.team__items:hover .team__details{
    opacity: 1;
}

.team__details h3{
    color: #ff0e83;
}
.team__text {
    margin: 8px 0;
}

.team__socials{
    margin-top: 24px;
}
.team__details i{
    height: 37px;
    width: 37px;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    line-height: 37px;
    margin: 0 5px;
    transition: all 0.5s;
}
.team__details i:hover{
    color: #ff0e83;
    border-color: #ff0e83;
}

/* CONTACT */
.contact{
    padding: 70px 0;
}

.contact__form form{
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 30px;
}

.contact__form textarea, .contact__form button{
    grid-column: 1 / span 2;
    padding: 15px;
    font-size: 1rem;
    font-weight: 600;
}

.contact__form input{
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.5s;
}

.contact__form input:focus{
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.contact__form textarea{
    border: 1px solid black;
    resize: none;
}
.contact__form textarea:focus{
    outline: none;
}
.contact__form textarea::placeholder{
    color: black;
}

.contact__form button{
    border-radius: 0px;
    background: #ff0e83;
    color: black;
    transition: all 0.5s;
}
.contact__form button:hover{
    color: white;
    background: black;
    border-color: black;
}
.contact__maps iframe{
    width: 100%;
    margin-top: 50px;
}

.contact__info{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
}

.contact__info i{
    font-size: 2rem;
    color: #4e2a84;
}
.contact__info p{
    font-size: 0.8rem;
    margin: 10px 0;
}

/* FOOTER */
footer{
    padding: 50px 0;
    background-color: black;
    color: white;
} 
.main__footer{
    width: 70%;
    margin: 0 auto;  
    display: flex; 
}
.footer__items{
    width: 25%;
    padding: 0 25px;
}
.footer__items h3{
    font-size: 1.3rem;
    color: #ff0e83;
    margin-bottom: 1rem;
}
.footer__items p{
    font-size: 0.8rem;
    line-height: 28px;
    padding-bottom: 1rem;
}
.footer__socials i{
    height: 35px;
    width: 35px;
    line-height: 35px;
    border: 1px solid white;
    margin-right: 10px;
    text-align: center;
    transition: all 0.5s;
}
.footer__socials i:hover{
    color: #ff0e83;
    border-color: #ff0e83;
}
.footer__time{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted white;
}
.footer__time p{
    padding: 0;
    margin: 10px 0;
}
 .footer__items .footer__subs input{
    margin-bottom: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
 }
 .footer__items .footer__subs input:focus{
    outline: none;
 }
 .footer__items .footer__subs button{
    font-weight: 600;
    padding: 7px 16px;
    color: #212529;
    border-color: #ff0e83;
    margin-bottom: 24px;
 }
.footer__copyright{
    text-align: center;   
}
.footer__copyright span{
    color: #ff0e83;
}
/* Back to top */
.backToTop{
    position: fixed;
    right: 50px;
    bottom: 50px;
    visibility: hidden;
    opacity: 0;
}
.backToTop i{
    color: #0BBBCC;
    border: 2px solid #0BBBCC;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    text-align: center;
    line-height: 36px;
}
.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
  }

